.list-item {
  display: flex;
  padding-block: 1rem;
  align-items: start;
  line-height: 1;
}

.list-item-checkbox {
  cursor: pointer;
  margin-right: 1.5rem;
  transform: scale(1.7);
  accent-color: var(--neutral-700);
  position: relative;
  top: 5px;
}

.list-item-checkbox:checked + .list-item-info,
.list-item-checkbox:hover + .list-item-info {
  text-decoration: line-through;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
  text-align: start;

  & .title {
    font-weight: 600;
  }

  & .sub-title {
    opacity: var(--accent-opacity);
    font-size: 0.9rem;
  }
}

.list-exit-icon {
  display: block;
  cursor: pointer;

  & img {
    width: var(--icon-size-md);
    filter: var(--fltr-neutral-100);
    opacity: var(--accent-opacity);
  }
  &:hover img {
    opacity: 1;
  }
}
