.list-item {
  display: flex;
  padding-block: 1rem;
  align-items: start;
  line-height: 1;
}

.list-item-checkbox {
  cursor: pointer;
  position: relative;
  top: 5px;
  margin-right: 1.5rem;
  transform: scale(1.7);
  accent-color: var(--neutral-700);
}

.list-item-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: start;

  & .title {
    font-weight: 600;
  }

  & .sub-title {
    opacity: var(--accent-opacity);
    font-size: 0.9rem;
  }
}

.list-item-menu {
  display: flex;
  margin-inline: auto 10px;
  cursor: pointer;
  gap: 2px;

  & .circle {
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: 50%;
    opacity: var(--accent-opacity);
    display: inline-block;
    width: var(--menu-circle-size);
  }
}
