:root {
  /* React Default Root Styles */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* My Root Styles */
  --neutral-100: #ffffff;
  --neutral-700: #484f59;
  --neutral-800: #3b424a;
  --neutral-900: #353a40;

  --primary-400: #f06292;
  --primary-600: #e55c8a;

  --accent-opacity: 0.6;
  --menu-circle-size: 6px;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  height: 100vh;
  background-image: url("../assets/background.svg");
  color: var(--main-content-clr);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

hr {
  border: none;
  height: 2px;
  background-color: currentColor;

  [data-theme="dark"] & {
    background-color: var(--neutral-900);
  }
}

.content-container {
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  padding: 4rem 5rem;
  margin-top: 3rem;
  width: 1000px;

  &[data-theme="dark"] {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
  }
}

.weekday {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.date {
  opacity: var(--accent-opacity);
}

.task-form {
  --form-input-padding: 5px 8px;
  font-size: 1.5rem;
  color: inherit;
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  margin-block: 1rem;
  align-items: center;
  gap: 8px;
}

.content-header {
  margin-block: 3rem;
}

.new-task-btn {
  background-color: var(--neutral-100);
  border: solid 1px var(--neutral-700);
  border-radius: 4px;
  cursor: pointer;
  padding: var(--form-input-padding);
  color: inherit;

  [data-theme="dark"] & {
    background-color: var(--neutral-700);
  }
}

.spacer:has(+ .list-items:empty) {
  display: none;
}
