:root {
  /* React Default Root Styles */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-100: #ffffff;
  --neutral-700: #484f59;
  --neutral-800: #3b424a;
  --neutral-900: #353a40;

  --primary-400: #f06292;
  --primary-600: #e55c8a;

  --fltr-neutral-100: brightness(0) saturate(100%) invert(100%) sepia(1%)
    saturate(7469%) hue-rotate(6deg) brightness(110%) contrast(99%);

  --icon-size-md: 18px;

  --font-base: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --accent-opacity: 0.6;
}

#root {
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  background-image: url("../assets/background.svg");
  color: var(--main-content-clr);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--font-base);
}

li {
  list-style-type: none;
}

hr {
  border: none;
  height: 2px;
  background-color: currentColor;

  [data-theme="dark"] & {
    background-color: var(--neutral-900);
  }
}

.content-container {
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  padding: 4rem 5rem;
  margin-top: 3rem;
  max-width: 1000px;
  margin-inline: 2rem;
  flex: 1;

  &[data-theme="dark"] {
    background-color: var(--neutral-800);
    color: var(--neutral-100);
  }
}

.weekday {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.date {
  opacity: var(--accent-opacity);
}

.content-header {
  margin-block: 3rem;
}

.spacer:has(+ .list-items:empty) {
  display: none;
}

@media (max-width: 500px) {
  .content-container {
    padding: 2rem 2.75rem;
  }
}
